.banner {
    border: 1px solid red;
    padding: 30px;
    display: grid;

}

.admin {
    border: 1px solid red;
    padding: 30px;
    display: grid;
    border-radius: 30px;
    width: 50%;
    text-align: center;
    background-color: #555;
    color: #fff;
    
}

a {
    text-decoration: none;
}