* {
    margin: 0 auto;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Source Serif Pro', sans-serif;
    font-size: 14px;*/
}
.container {
    width: 80vw;
    min-height: 65h;
    margin: 0 auto;
    box-sizing: border-box;
}
